header{
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('../../images/header/mainframes.png');
    background-size: 100% 700px;
    color: white;
    height: 700px;
}